.btn-primary{
    background-color: var(--color-brand-1);
    border: var(--border-1) solid var(--color-brand-1);
    border-radius: var(--radius-1);

    color: var(--color-mode);
    font-weight: 600;
    font-size: var(--font-size-3);


    height: 2rem;
    padding: 0 0.875rem;
    cursor: pointer;
}

.btn-primary:hover{
    background-color: var(--color-brand-2);
    border: var(--border-1) solid var(--color-brand-2);
}

.btn-greylow{
    background-color: var(--color-grey-5);
    border: var(--border-1) solid var(--color-grey-5);
    border-radius: var(--radius-1);
    
    color: var(--color-grey-2);
    font-weight: 600;
    font-size: var(--font-size-3);

    
    height: 2rem;
    padding: 0 0.875rem;
    cursor: pointer;
}

.btn-greylow:hover{
    background-color: var(--color-grey-4);
    border: var(--border-1) solid var(--color-grey-4);
}

.btn-outline{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: var(--color-mode);
    border: var(--border-1) solid var(--color-grey-5);
    border-radius: var(--radius-1);
    
    color: var(--color-grey-2);
    font-weight: 600;
    font-size: var(--font-size-3);
    
    
    height: 2rem;
    padding: 0 0.875rem;
    cursor: pointer;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline-actived{
    background-color: var(--color-brand-3);
    border: var(--border-1) solid var(--color-brand-1);
    color: var(--color-brand-1);
}

.btn-delete{
    background-image: url("../assets/trash1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--color-mode);

    border: var(--border-1) solid var(--color-grey-5);
    border-radius: var(--radius-2);

    height: 1.625rem;
    width: 1.625rem;
    padding: 0 0.5rem;
    cursor: pointer;
}

.btn-delete:hover{
    background-image: url("../assets/trash2.png");
    background-color: var(--color-grey-5);

    border: var(--border-1) solid var(--color-grey-4);
}

.category-tag{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    height: 1.625rem;
    width: 4.25rem;
    border-radius: var(--radius-2);
    padding: .4375rem .875rem;
    background-color: var(--color-grey-4);

    font-weight: var(--font-weight-2);
    font-size: var(--font-size-4);
    color: var(--color-grey-2);
}

.btn-close-modal{
    height: 1.875rem;
    width: 2.1875rem;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: var(--radius-2);
    padding: .25rem .75rem;

    background-color: var(--color-grey-5);
    
    font-family: var(--font-family-2);
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-1);
    color: var(--color-grey-2);
}

.btn-close-modal:hover{
    background-color: var(--color-grey-4);
}