.title1-bold{
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-1);
    line-height: var(--font-line-height-1);
    color: var(--color-grey-1);
}

.title2-bold{
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-1);
    line-height: var(--font-line-height-1);
    color: var(--color-grey-1);
}

.title2-medium{
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-2);
    line-height: var(--font-line-height-1);
    color: var(--color-grey-1);
}

.text1-regular{
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-3);
    line-height: var(--font-line-height-1);
    color: var(--color-grey-1);
}

.text1-medium{
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-2);
    line-height: var(--font-line-height-1);
    color: var(--color-grey-1);
}

.text1-bold{
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-1);
    line-height: var(--font-line-height-1);
    color: var(--color-grey-1);
}

.text2-regular{
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-2);
    line-height: var(--font-line-height-1);
    color: var(--color-grey-1);
}